
@import "variables.css";

.cta-form-bg {
  background-color: var(--white);
}

.offer-body {
  position: relative;
}
.only-mob {
    display: none;
}

.herohome.in-padding {
  padding-bottom: 0px;
}

nav{
  background-color: transparent;
}
nav div.inner {
  justify-content: center;
}

.hero-text p.landing {
    text-align: center;
}

.hero-img.landing {
    flex-direction: column;
}

.hero-text h1 {
  width: fit-content;
}

.hero-text p b {
  color: var(--yellow);
}

.hero-text img {
  margin: 10px 0;
}

.plan-card.insight .plan-cost b:nth-child(1) {
text-decoration: line-through;
opacity: calc(0.7);
}

.form-kit {
  width: 90%;
  max-width: 400px;  
  overflow: hidden;
  padding: 20px;
  margin: 50px auto;
  border: 2px solid var(--mblue);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 7px 9px 1px -2px rgba(0,0,0,0.31);
  -moz-box-shadow: 7px 9px 1px -2px rgba(0,0,0,0.31);
  box-shadow: 7px 9px 1px -2px var(--dark-blue);
  
}



.form-kit p {
  color: var(--blue);
  text-align: center;
  font-size: var(--xs);
}

.section-card-offers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0 100px;
}

.cta-kit {
    display: none; /* Hidden by default */
    
    justify-content: center;
    background-color: var(--white);    
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom: 0;
}

.cta-kit .cta-button {
  display: flex  ;
      justify-content: center;
      flex-direction: column;
      background-color: var(--white);
      padding: 1rem 0;
      position: relative;
      width: 90%;
      max-width: 400px;

}

.cta-kit .cta-button a {
    color: var(--dark-blue);
    font-size: var(--m);
    font-weight: 600;
}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid var(--dark-blue);
    position: absolute;
    top: -5px;
    right: 50%;
    animation: blink 2s linear infinite; /* Apply the animation */
  }

.arrow-link {
    padding-left: 28px; /* Adjust as needed */
    position: relative;
  }
  
  .arrow-link::before {
    content: "\27A4"; /* Unicode for right arrow */
    position: absolute;
    left: 0;
    opacity: 1; /* Start with full opacity */
    animation: blink 2.5s linear infinite; /* Apply the animation */
  }

  @keyframes blink {
    0% {
        border-top: 20px solid var(--dark-blue);
    }
    50% {
        border-top: 20px solid var(--mblue); /* Fade out */
    }
    100% {
        border-top: 20px solid var(--dark-blue); /* Fade back in */
    }
  }


.cta-kit .cta-button p {
    text-align: center;
    margin: 0;
    color: #2F9EA1;
    font-size: var(--xs);
    position: absolute;
    top: 73px;
    right: 35px;
}


.timer-cta p{
    text-align: center;
    margin: 0;
    font-size: var(--xs);
    color: var(--mblue);
}

.plan-description details summary {
  color: var(--dark-blue);
}

@media (max-width: 1200px) {
    .only-mob {
        display: inherit;
    }

    .only-desk {
        display: none;
    }

    .cta-kit {
        background-color: var(--white);
    }

    
    .cta-kit .cta-button a {
        color: var(--dark-blue);
    }

    

    .herohome.in-padding {
      padding-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .cta-kit {
        flex-direction: column-reverse;
        gap: 27px;
    }

    .cta-kit .cta-button {        
        margin: 0 auto;
    }

    .cta-kit .cta-button p {
        top: 60px;
    }

    .hero-text h1 {
        font-size: 3rem;
        line-height: 44px;
    }

    .hero-text p {
      font-size: var(--m);
    }

   

    nav ul {
        display: none;
    }

    .hero-text img {
      width: 80px;
    }

    .herohome.in-padding {
      padding-bottom: 0px;
    }

    .form-kit {
      
      padding: 50 0px;
      margin: 20px auto;
      border: 1px solid var(--mblue);
      width: 80%;
      max-width: 400px;
      padding: 10px;
      
    }

    .section-head-blue h2 {
      font-size: var(--xl);
    }

    
}

/* TIMER STYLES */
.timeContainer {
    z-index: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeContainer .wrapper {
    width: 215px;
    padding: 9px;
    max-height: 80px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .timeContainer .wrapper div {
    color: #ccc;
    text-align: center;
    width: 24%;
    height: auto;
    border-radius: 12px;
    font-size: var(--xs);
  }
  
  .timeContainer .wrapper div:first-child{
    
    color: var(--dark-blue);
  }
  
  .timeContainer .wrapper div:nth-child(2){
    color: var(--dark-blue);
  }
  
  .timeContainer .wrapper div:nth-child(3){
    color: var(--dark-blue);
  }
  
  .timeContainer .wrapper div:last-child{
    color: var(--dark-blue);
  }
  
  .timeContainer .wrapper div h2 {
    font-size: 1rem;
    margin: 0;
  }
  
  .circleDiv {
    position: fixed;
    z-index: -1;
    top: calc(50% - 237px);
    left: calc(-50% + 474px);
    width: 474px;
    height: 474px;
    border-radius: 100%;
    border: 6px dashed #00A3D0;
    animation: rotatingCircle infinite linear 60s;
  }
  
  @keyframes rotatingCircle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
